#loginarea {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
}

#loginarea>div {
    width: 50%;
    height: 100%;
}

#loginarea>div>img {
    width: 100%;
    height: 100%;
}

#loginarea>form {
    width: 40%;
    height: 90%;
    border: 1px solid gray;
    background-color: rgba(213, 223, 233, 0.992);
    padding: 30px;
    border-radius: 20px;
}

#logindiv {
    margin: 20px 0px;
}

#logindiv>label {
    margin-left: 5px;
}

#logindiv>input {
    width: 90%;
    height: 30px;
    margin: 5px 0px;
    border: 1px solid rgb(112, 142, 216);
    outline: navajowhite;
    border-radius: 20px;
    padding: 5px 5px;
}