.about_container{
    background-color: #808080;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.about{
    text-align: justify;
    padding: 40px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px #382f2f;
    border-radius: 10px;
    line-height: 30px;
}


.about h1, h2{
    padding: 10px;
}




























