#header_container {
  width: 100%;
  height: 90px;
  background-color: #fff;
}


#header_container>div {
  width: 90%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#head_img {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#head_img>img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#input_area {
  width: 30%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#input_area>input {
  border-radius: 10px;
  width: 50%;
  outline: none;
  background-color: rgb(224, 228, 235);
  padding: 10px;
  border: none;
  text-transform: capitalize;
}

#icon_email,
#icon_bell {
  background-color: rgb(224, 228, 235);
  border-radius: 50%;
  padding: 7px;
  font-size: 40px;
}

#icon_avtar {
  background-color: rgb(26, 26, 222);
  padding: 5px;
}


#Profile_container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10%;
  right: 2%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid gray;
}

#profile_icon,
#register {
  text-decoration: none;
  color: black;
}

#Profile_container>p {
  padding: 10px 10px;
  line-height: 30px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  transition: .3s;
}

#Profile_container>p:hover {
  padding-left: 15px;
  background-color: rgba(233, 237, 240, 0.825);
}